<div class="center hero-unit">
	<h1>Hello, Beautiful Person!</h1>
	<h2>
		and <u>welcome</u>, to my 
		<b>realm</b>. ;D
	</h2>

	<%= link_to "Sign up now!", signup_path, :class => "bn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", :alt => "Rails"), 'http://rubyonrails.org/' %>
